.menu{ position: relative; background: rgb(165, 48, 13);
    width: 100vw;min-width: 450px;
   height: 50px;
z-index: 100;}
.pos{position: relative;width: 250px;margin: auto;height: 50px;}

.panier{position: relative;top: 10px;margin: 0px auto;
    padding: 0px;color: white;font-size: 20px;
    font-style: italic;width: max-content;cursor: pointer;}

.basketContainer{position: absolute;top: 52px;
    height: max-content;margin: auto;text-align: center;
    border: solid rgb(165, 48, 13) 2px;
    background: chocolate;border-radius: 10px;
   
    display:none}

.table{margin: auto;text-align: center;
    width:250px;
   }
.tableHeader{ font-size: 15px;font-weight: 600;}
.xP{color: black; font-weight: 600;font-size: 13px;padding: 2px;cursor: pointer;}
.xP:hover{color: rgb(230, 204, 91);}